// Use this file to set SASS variables for @edx/paragon
// See _variables.scss in https://github.com/edx/paragon/blob/master/scss/core/ for reference

$primary : #311B7B;
$primary-light: #F2F7F8;
$secondary: #454545;

$brand: #311B7B;
$success: #178253;
$info: #006DAA;
$danger: #C32D3A;
$warning: #FFD900;
$light: #E1DDDB;
$light-drak: #374151;
$drak: #111827;
$accent-a: #00BBF9;
$accent-b: #FFEE88;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');